* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0C1018;
    background-image: url(../imagenes/fondo-lol.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: #DBC171;
    text-shadow: gray 0px -5px 2px;
    text-transform: uppercase;
}

.navegacion {
    background-color: transparent;
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 10rem;

    font-family: "Beufor", sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
}


.caja-rol {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    text-align: center;
}


.botonReroll {
    font-family: "Beufor", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    padding: 0rem;
    text-transform: uppercase;

    background-color: #1E2328;
    color: white;
    border-color: #0C4854;
    border-style: solid;
    border-width: 5px;
    padding: 1rem;
}

.boton {
    border-style: solid;
    border-width: 5px;
    border-color: #0696AA;
    width: fit-content;
    padding: 0;
    margin: 0 auto;
    margin-top: 5rem;
    box-shadow: #263d3d 0px -3px 4px 3px;
}

.botonReroll:hover {
    cursor: pointer;

}

.boton:hover {
    cursor: pointer;
    border: #27DFFD 5px solid;
    box-shadow: #27DFFD 3px 0px 3px 0px;
}

.rol {
    position: absolute;
    height: 4rem;
    border-radius: 10rem;
    border: solid #A47732;
    margin-top: 8rem;
}

.casillaNombre {
    border: solid #A47732;
    background-color: black;
    color: #A47732;
    font-size: 1.2rem;
    font-family: Spiegel;
}

.imagen {
    border: solid #A47732;
    max-height: 10rem;
    margin: 0;
    margin-bottom: -7px;
}



footer {
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: #fff;
    text-align: center;
    margin-top: 12rem;
}

main {
    min-height: 100%;
}

footer p {
    padding: 1rem;
    font-size: 2rem;
}

@font-face {
    font-family: Spiegel;
    src: url(../fonts/Spiegel-Bold.otf) format(truetype);
}

@font-face {
    font-family: Beufor;
    src: url(../fonts/BeaufortforLOL-Bold.otf) format(truetype);
}

/*Medias */
@media Screen and (max-width:1400px) {
    .caja-rol {
        max-width: 100%;
    }

    .imagen {
        max-width: 15rem;
    }

    .rol {
        height: 3.3rem;
        margin-top: 7rem;
    }

    .display {
        max-width: 100%;
    }
}

@media Screen and (max-width:1200px) {
    .caja-rol {}

    .imagen {
        max-width: 12rem;
    }

    .rol {
        height: 2.5rem;
        margin-top: 6rem;
    }

}

@media Screen and (max-width:992px) {

    .caja-rol {
        max-width: 100%;
        display: block;
        margin-top: 5rem;
    }

    .display {
        max-width: fit-content;
        margin: 0 auto;
    }


    .imagen {
        max-width: 100%;
    }

    .rol {
        max-width: 25%;
        margin: 0;
    }




}